.gameboard{
  background-color: salmon;
  width: 50%;
  margin-left: 28%;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  grid-gap: 2px;
}

.gameboard-lg{
  display: grid;
  grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
  grid-gap: 15px;
}

.gameboard-xl{
  display: grid;
  grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
  grid-gap: 15px;
}

.square {
  margin: 3px 3px 3px 8px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
}
